<h1>Контакти</h1>
<form action="/contact" method="POST">
    email: <br>
    <input type="email" name="email"><br>
    Дата від'їзду: <br>
    <input type="month" name="data"><br>
    Введіть повідомлення тут: <br>
    <textarea name="message" id="message" cols="30" rows="10"></textarea><br>
    <input type="submit" value="Відправити">
</form>