<h1>Туристична компанія “Бізнес Візит” в Україні
    {{title}}</h1>
<p>Туристична компанія «Бізнес Візит» надає послуги приватним особам та корпоративним клієнтам по всій території України. Адреси офісів, телефони, схеми проїзду у Києві, Запоріжжі та інших містах Ви знайдете на цій сторінці. {{title}}</p>
<form>
    <fieldset>
        <legend>Зв'яжіться з нами</legend>
        Ваше ім'я:<input name="firstname" type="text" placeholder="Enter your first name">
        Місто:<input name="Town" type="text" placeholder="Enter your town">
        Телефон: <input name="telephone" type="number" placeholder="Enter your telephone">
        Email: <input name="Email" type="email" placeholder="Enter your email">
        Коментар:<input name="Comment" type="text" placeholder="Enter your comment">
    </fieldset>
    <input type="submit" value="Send">
</form>