<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
Зелений туризм в Україні
Зелений, або як його ще називають, екологічний туризм — це абсолютно особливий напрямок відпочинку для людей, перевантажених повсякденними проблемами, побутом і тяготами урбанізму. Цей вид відпочинку спрямований на усамітнення та спілкування з природою, проживання в сільському середовищі або інших екологічних територіях. Головна мета зеленого туризму полягає в тому, щоб абстрагуватися від шуму мегаполісу, зануритися у той світ, в якому жили наші предки. 

Тут варто розділити поняття зеленого туризму на два підвиди:
Активний відпочинок у вигляді походу в ліс або гори. 
Проживання у сільській місцевості, так званий сільський туризм. 

На сьогоднішній день похід у гори або проживання в наметі в лісовій гущавині є для людини справжнім подвигом, адже ми звикли до автоматичних систем, комп’ютерних технологій, транспорту і елементарних побутових умов, котрі забезпечують нам комфорт. 
Не багато хто готовий кинути все це і самостійно прожити якийсь час у горах або в лісі, і тим не менш, зелений туризм в Україні сьогодні набирає нові рівні популярності. Для цілей безпеки, підстрахування і складання грамотного маршруту наймаються організатори, що займаються подібним видом туризму. 
До них у замовника повинні бути певні вимоги:
організатор повинен запропонувати вам екологічний вид транспорту: велосипед, безмоторний човен, кінь і будь-який інший транспорт, що не завдає шкоди екосистемі;
нічліжки повинні проводитися в підготовлених, заздалегідь визначених місцях, але ні в якому разі не в хаотичному порядку;
організатор спільно з туристами повинен вирішувати питання по утилізації сміття;
обговоріть з організатором або гідом майбутнє меню, в даному випадку зробити акцент потрібно на екологічно чистих продуктах.