<h1>{{title}}</h1>

<table>

{{#each countries_list}}
    <tr>
        <td><img src="{{this.country_img}}" alt="{{this.county_alt}}" ></td>
        <td class="flag_country">{{this.country_dsc}} </td>
    </tr>
{{/each}}

</table>