<header>
<h1>{{title}}</h1>
<p> {{title}}</p>
</header>
<main>
    <h2>Зелений туризм в Україні</h2>
<article></article>
<p>Зелений, або як його ще називають, екологічний туризм — це абсолютно особливий напрямок відпочинку для людей, перевантажених повсякденними проблемами, побутом і тяготами урбанізму. Цей вид відпочинку спрямований на усамітнення та спілкування з природою, проживання в сільському середовищі або інших екологічних територіях. Головна мета зеленого туризму полягає в тому, щоб абстрагуватися від шуму мегаполісу, зануритися у той світ, в якому жили наші предки.</p> 

<P>Тут варто розділити поняття зеленого туризму на два підвиди:
Активний відпочинок у вигляді походу в ліс або гори. </br>
Проживання у сільській місцевості, так званий сільський туризм.</P> 

<p>На сьогоднішній день похід у гори або проживання в наметі в лісовій гущавині є для людини справжнім подвигом, адже ми звикли до автоматичних систем, комп’ютерних технологій, транспорту і елементарних побутових умов, котрі забезпечують нам комфорт. 
Не багато хто готовий кинути все це і самостійно прожити якийсь час у горах або в лісі, і тим не менш, зелений туризм в Україні сьогодні набирає нові рівні популярності. Для цілей безпеки, підстрахування і складання грамотного маршруту наймаються організатори, що займаються подібним видом туризму. </p>
До них у замовника повинні бути певні вимоги:</br>
<ul>
    <li>організатор повинен запропонувати вам екологічний вид транспорту: велосипед, безмоторний човен, кінь і будь-який інший транспорт, що не завдає шкоди екосистемі;</li>
    <li>нічліжки повинні проводитися в підготовлених, заздалегідь визначених місцях, але ні в якому разі не в хаотичному порядку;</li>
    <li>організатор спільно з туристами повинен вирішувати питання по утилізації сміття;</li>
    <li>обговоріть з організатором або гідом майбутнє меню, в даному випадку зробити акцент потрібно на екологічно чистих продуктах.</li>
</ul>
</article>
<article>
<h2>Літні Карпати</h2>
<img src=" https://dummyimage.com/400x400.jpg?text=Karpaty">
<p>Звичайно ж, зеленим туризмом краще всього займатися пізньою весною або в літній період, 
максимум — на початку осені, адже у холоди навіть тривалі прогулянки стають проблемою. </br>
На зимові Карпати існує величезний попит серед іншої категорії туристів, що віддають перевагу лижам і зимовим видам спорту, а ось в літній сезон карпатські схили якраз відкриті для екотуристів і любителів походів. </br>
Плюсами зеленого та сільського туризму тут є кришталево чисте повітря, мальовнича природа первозданна та смачна кухня, приготовлена виключно з натуральних продуктів. Ви можете купатися в гірських озерах і річках, випробувати свої сили в колективному плаванні на байдарках, зайнятися кінними, пішими чи велосипедними прогулянками, катанням на квадроциклі, 
а також сходити на екскурсію або в гори, саме цим і знаменитий відпочинок в Карпатах влітку.</p>
</article>
</main>