
<aside>
    {{!-- <img src='http://placekitten.com/250/250' alt='Kote' /> --}}
    Aliqua tempor mollit ea nisi occaecat in pariatur esse quis. Incididunt do tempor qui velit tempor tempor. Veniam laborum exercitation anim laboris enim irure non duis voluptate. Elit irure sit laboris incididunt aliqua. Voluptate aliqua laborum consequat quis excepteur aliquip ullamco.
</aside>
<main>
    <h1>Новини</h1>
    <article class="news">
        <h1>
            Актуальное расписание рейсов туроператора! на 20.07.2018 по направлению Турция и Египет
        </h1>
        <p>Уважаемый пассажиры и партнеры! Обратите внимание на актуальное расписание рейсов:
            <br> KUP5311 Киев – Шарм-эль-Шейх 22:20 – 01:05
            <br> KUP5312 Шарм-эль-Шейх – Киев 16:00 – 20:50
            <br> KUP8301 Киев – Шарм-эль — Шейх 06:50 – 09:30
            <br> KUP8302 Шарм — эль-Шейх — Киев 20:00 – 01:00
            <br> KUP7301 Киев – Шарм-эль-Шейх 18:50 – 21:30
            <br> KUP 5301 Киев – Шарм-эль-Шейх 12:20 – 15:20
            <br>
        </p>
    </article>
    <article class="news">
        <h1>Рейсы по направлению Шарм-эль-Шейх – Харьков – Шарм-эль-Шейх, которые состоятся 13.07, перенесены в Киев в связи
            с проведением аудита аэропорта «Харьков»
        </h1>
        <p>В связи с тем, что на этой неделе продолжается проверка аэропорта «Харьков» на способность принимать суда типа Airbus
            330, 13 июля рейс KUP 5312 Шарм-эль-Шейх – Харьков, осуществляемый по заказу туроператора Join UP!, будет принят
            аэропортом «Борисполь» (Киев) в 19:35. Рейс KUP 5311 Харьков — Шарм-эль-Шейх вылетит в 21:05 также из Киева.
            Туристам, которые летят с отдыха, туроператор Join UP! предоставляет трансфер комфортабельными автобусами из
            Киева в Харьков, заказывает напитки и горячее питание. Туристам из Харькова компания также обеспечивает максимально
            удобные условия во время трансфера Харьков – Киев. Напомним, что аэропорт «Харьков» в период с 5 июня по 9 июля
            2018 уже успешно принимал самолет типа Airbus 330 авиакомпании «Air Leisure», который выполнял аналогичные рейсы
            в Египет. Все разрешения на вылеты прошлых рейсов подтверждены Госавиаслужбой Украины. Дополнительная проверка
            для подтверждения возможности принятия самолета типа ПС кода 4Е А330 аэродромом кода 4С Харьков одобрена во время
            совместного совещания с Госавиаслужбой Украины от 09.07.2018 года. На время прохождения проверок по процедуре
            аэропорт не может принимать рейсы воздушного судна типа Airbus 330, но будет иметь возможность восстановить их
            сразу после подтверждения такой возможности.</p>
    </article>
</main>
