<h1> Тури</h1>

<body>
    <div class="container">
        <table class="table table-hover">
         <thead></thead>
         <tr>
             <th>Країни</th>
             <th>Дата</th>
             <th> Ціна</th>
         </tr>
         <tbody>
         {{#each tours_list}}
         
         <tr>
             <td >{{this.tours_country}}</td>
             <td >{{this.tours_date}}</td>
             <td >{{this.tours_price}}</td>
        </tr>
        {{/each}}
        </tbody>
                </table>
      
</div> 
