<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <table >
        <caption>Тури, путівки, акції</caption>
        <thead>
<tr>
    <th>Тур</th>
    <th>Кількість днів</th>
    <th>Ціна</th>
</tr>
</thead>
<tbody>
<tr>
    <th>Яремче</th>
    <th>6 ночей</th>
    <th>2700 грн.</th>
</tr>
<tr>
    <th>Татарів</th>
    <th>6 ночей</th>
    <th>3500 грн.</th>
</tr>
<tr>
    <th>Славське</th>
    <th>6 ночей</th>
    <th>3540 грн.</th>
</tr>
<tr>
    <th>New Brunswick</th>
    <th>4 ночей</th>
    <th>3000 $.</th>
</tr>
<tr>
    <th>Yamnuska Mountain</th>
    <th>2 ночей</th>
    <th>1540 $.</th>
</tr>
<tfoot>

<tr>
<td>Updated September 29, 2016</td>
</tr>
</tfoot>
</tbody>
    </table>
</div>