<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div>
    <table>
        <caption>Тури, путівки, акції</caption>
<tr>
    <th>Тур</th>
    <th>Кількість днів</th>
    <th>Ціна</th>
</tr>
<tr>
    <th>Яремче</th>
    <th>6 ночей</th>
    <th>2700 грн.</th>
</tr>
<tr>
    <th>Татарів</th>
    <th>6 ночей</th>
    <th>3500 грн.</th>
</tr>
<tr>
    <th>Славське</th>
    <th>6 ночей</th>
    <th>3540 грн.</th>
</tr>

    </table>
</div>