<h1> Тури</h1>

<body>
    <div class="container">
        <table>
         {{#each tours_list}}
         <tr>
             <td>{{this.tours_country}}</td>
             <td>{{this.tours_date}}</td>
             <td>{{this.tours_price}}</td>
        </tr>
        {{/each}}
        </table>
      
</div> 
